In [1]:
!rm hawaii.sqlite

In [2]:
import numpy as np
import pandas as pd
from datetime import datetime

In [3]:
df_hs = pd.read_csv('Resources/hawaii_stations.csv')
df_hm = pd.read_csv('Resources/hawaii_measurements.csv')
df_hm = df_hm.dropna(axis=0,how='any')
df_hs.to_csv('clean_hawaii_stations.csv',index=False)
df_hm.to_csv('clean_hawaii_measurements.csv',index=False)
print(df_hm.head())
print(df_hs)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70
       station                                    name  latitude  longitude  \
0  USC00519397                    WAIKIKI 717.2, HI US  21.27160 -157.81680
1  USC00513117                    KANEOHE 838.1, HI US  21.42340 -157.80150
2  USC00514830  KUALOA RANCH HEADQUARTERS 886.9, HI US  21.52130 -157.83740
3  USC00517948                       PEARL CITY, HI US  21.39340 -157.97510
4  USC00518838              UPPER WAHIAWA 874.3, HI US  21.49920 -158.01110
5  USC00519523      WAIMANALO EXPERIMENTAL FARM, HI US  21.33556 -157.71139
6  USC00519281                     WAIHEE 837.5, HI US  21.45167 -157.84889
7  USC00511918       HONOLULU OBSERVATORY 702.2, HI US  21.31520 -157.99920
8  USC00516128            MANOA LYON ARBO 785.2, HI US  21.33310 -157.80250

   elevation
0        3.0
1       14.6
2        7.0
3       11.9
4      306.6
5       19.5
6       32.9
7        0.9
8      152.4

In [4]:
def isoformatToDateTime(datestring):
    year,month,day = datestring.split("-")
    year,month,day = np.int(year),np.int(month),np.int(day)
    return datetime(year,month,day)

In [5]:
import numpy as np
import pandas as pd

In [6]:
df_hs = pd.read_csv('clean_hawaii_stations.csv')
df_hm = pd.read_csv('clean_hawaii_measurements.csv')

# Convert df_hm['date'] to datetime
df_hm['date'] = df_hm['date'].map(isoformatToDateTime)

In [7]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, DateTime

In [8]:
# Create an engine to a SQLite database file called `hawaii.sqlite`
engine = create_engine("sqlite:///hawaii.sqlite")

In [9]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [10]:
# Use `declarative_base` and create ORM classes for each table.
# You will need a class for `Measurement` and for `Station`.
# Make sure to define your primary keys.

# http://docs.sqlalchemy.org/en/latest/core/type_basics.html
Base = declarative_base()

class Measurement(Base):
    __tablename__ = 'measurements'

    id = Column(Integer, primary_key=True,autoincrement=True)
    station = Column(Text)
    date = Column(DateTime)
    prcp = Column(Float)
    tobs = Column(Integer)
    
   
    def __repr__(self):
        return f"id={self.id}, station={self.station}, prcp ={self.prcp}, tops={self.tobs}"

class stations(Base):
    __tablename__ = 'stations'

    station = Column(Text, primary_key=True)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
   
    def __repr__(self):
        return f"id={self.id}, station={self.station}, prcp ={self.prcp}, tops={self.tobs}"

# More on __repr__: https://stackoverflow.com/questions/1984162/purpose-of-pythons-repr

In [11]:
Base.metadata.create_all(engine)

In [12]:
# For the stations table

# Use Orient='records' to create a list of data to write
# to_dict() cleans out DataFrame metadata as well
# http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
data = df_hs.to_dict(orient='records')

In [13]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()
# Save the reference to the `customers` table as a variable called `table`
table = sqlalchemy.Table('stations', metadata, autoload=True)
# Use `table.delete()` to remove any pre-existing data.
# Note that this is a convenience function so that you can re-run the example code multiple times.
# You would not likely do this step in production.
conn.execute(table.delete())

In [14]:
# Use `table.insert()` to insert the data into the table
# The SQL table is populated during this step
conn.execute(table.insert(), data)

In [15]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from stations limit 10").fetchall()

[('USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 ('USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 ('USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 ('USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 ('USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 ('USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 ('USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9),
 ('USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 ('USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]

In [16]:
# For the measurements table

# Use Orient='records' to create a list of data to write
# to_dict() cleans out DataFrame metadata as well
# http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
data = df_hm.to_dict(orient='records')

In [17]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()
# Save the reference to the `measurements` table as a variable called `table`
table = sqlalchemy.Table('measurements', metadata, autoload=True)
# Use `table.delete()` to remove any pre-existing data.
# Note that this is a convenience function so that you can re-run the example code multiple times.
# You would not likely do this step in production.
conn.execute(table.delete())

In [18]:
# Use `table.insert()` to insert the data into the table
# The SQL table is populated during this step
conn.execute(table.insert(), data)

In [19]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from measurements limit 100").fetchall()

[(1, 'USC00519397', '2010-01-01 00:00:00.000000', 0.08, 65),
 (2, 'USC00519397', '2010-01-02 00:00:00.000000', 0.0, 63),
 (3, 'USC00519397', '2010-01-03 00:00:00.000000', 0.0, 74),
 (4, 'USC00519397', '2010-01-04 00:00:00.000000', 0.0, 76),
 (5, 'USC00519397', '2010-01-07 00:00:00.000000', 0.06, 70),
 (6, 'USC00519397', '2010-01-08 00:00:00.000000', 0.0, 64),
 (7, 'USC00519397', '2010-01-09 00:00:00.000000', 0.0, 68),
 (8, 'USC00519397', '2010-01-10 00:00:00.000000', 0.0, 73),
 (9, 'USC00519397', '2010-01-11 00:00:00.000000', 0.01, 64),
 (10, 'USC00519397', '2010-01-12 00:00:00.000000', 0.0, 61),
 (11, 'USC00519397', '2010-01-14 00:00:00.000000', 0.0, 66),
 (12, 'USC00519397', '2010-01-15 00:00:00.000000', 0.0, 65),
 (13, 'USC00519397', '2010-01-16 00:00:00.000000', 0.0, 68),
 (14, 'USC00519397', '2010-01-17 00:00:00.000000', 0.0, 64),
 (15, 'USC00519397', '2010-01-18 00:00:00.000000', 0.0, 72),
 (16, 'USC00519397', '2010-01-19 00:00:00.000000', 0.0, 66),
 (17, 'USC00519397', '2010-01-20 00:00:00.000000', 0.0, 66),
 (18, 'USC00519397', '2010-01-21 00:00:00.000000', 0.0, 69),
 (19, 'USC00519397', '2010-01-22 00:00:00.000000', 0.0, 67),
 (20, 'USC00519397', '2010-01-23 00:00:00.000000', 0.0, 67),
 (21, 'USC00519397', '2010-01-24 00:00:00.000000', 0.01, 71),
 (22, 'USC00519397', '2010-01-25 00:00:00.000000', 0.0, 67),
 (23, 'USC00519397', '2010-01-26 00:00:00.000000', 0.04, 76),
 (24, 'USC00519397', '2010-01-27 00:00:00.000000', 0.12, 68),
 (25, 'USC00519397', '2010-01-28 00:00:00.000000', 0.0, 72),
 (26, 'USC00519397', '2010-01-31 00:00:00.000000', 0.03, 67),
 (27, 'USC00519397', '2010-02-01 00:00:00.000000', 0.01, 66),
 (28, 'USC00519397', '2010-02-04 00:00:00.000000', 0.01, 69),
 (29, 'USC00519397', '2010-02-05 00:00:00.000000', 0.0, 67),
 (30, 'USC00519397', '2010-02-06 00:00:00.000000', 0.0, 67),
 (31, 'USC00519397', '2010-02-07 00:00:00.000000', 0.0, 64),
 (32, 'USC00519397', '2010-02-08 00:00:00.000000', 0.0, 69),
 (33, 'USC00519397', '2010-02-09 00:00:00.000000', 0.0, 73),
 (34, 'USC00519397', '2010-02-11 00:00:00.000000', 0.0, 73),
 (35, 'USC00519397', '2010-02-12 00:00:00.000000', 0.02, 69),
 (36, 'USC00519397', '2010-02-13 00:00:00.000000', 0.01, 69),
 (37, 'USC00519397', '2010-02-14 00:00:00.000000', 0.0, 69),
 (38, 'USC00519397', '2010-02-15 00:00:00.000000', 0.0, 71),
 (39, 'USC00519397', '2010-02-16 00:00:00.000000', 0.0, 61),
 (40, 'USC00519397', '2010-02-17 00:00:00.000000', 0.0, 69),
 (41, 'USC00519397', '2010-02-20 00:00:00.000000', 0.03, 64),
 (42, 'USC00519397', '2010-02-21 00:00:00.000000', 0.0, 65),
 (43, 'USC00519397', '2010-02-22 00:00:00.000000', 0.0, 67),
 (44, 'USC00519397', '2010-02-23 00:00:00.000000', 0.0, 68),
 (45, 'USC00519397', '2010-02-24 00:00:00.000000', 0.0, 65),
 (46, 'USC00519397', '2010-02-25 00:00:00.000000', 0.0, 76),
 (47, 'USC00519397', '2010-02-26 00:00:00.000000', 0.0, 75),
 (48, 'USC00519397', '2010-02-28 00:00:00.000000', 0.0, 66),
 (49, 'USC00519397', '2010-03-01 00:00:00.000000', 0.01, 70),
 (50, 'USC00519397', '2010-03-02 00:00:00.000000', 0.0, 72),
 (51, 'USC00519397', '2010-03-03 00:00:00.000000', 0.0, 73),
 (52, 'USC00519397', '2010-03-04 00:00:00.000000', 0.12, 70),
 (53, 'USC00519397', '2010-03-05 00:00:00.000000', 0.08, 71),
 (54, 'USC00519397', '2010-03-06 00:00:00.000000', 0.03, 72),
 (55, 'USC00519397', '2010-03-07 00:00:00.000000', 0.0, 72),
 (56, 'USC00519397', '2010-03-08 00:00:00.000000', 0.43, 69),
 (57, 'USC00519397', '2010-03-09 00:00:00.000000', 0.06, 70),
 (58, 'USC00519397', '2010-03-12 00:00:00.000000', 0.0, 72),
 (59, 'USC00519397', '2010-03-13 00:00:00.000000', 0.0, 73),
 (60, 'USC00519397', '2010-03-14 00:00:00.000000', 0.0, 70),
 (61, 'USC00519397', '2010-03-15 00:00:00.000000', 0.06, 71),
 (62, 'USC00519397', '2010-03-17 00:00:00.000000', 0.0, 68),
 (63, 'USC00519397', '2010-03-18 00:00:00.000000', 0.0, 70),
 (64, 'USC00519397', '2010-03-21 00:00:00.000000', 0.0, 72),
 (65, 'USC00519397', '2010-03-22 00:00:00.000000', 0.0, 69),
 (66, 'USC00519397', '2010-03-23 00:00:00.000000', 0.0, 68),
 (67, 'USC00519397', '2010-03-24 00:00:00.000000', 0.0, 74),
 (68, 'USC00519397', '2010-03-27 00:00:00.000000', 0.0, 72),
 (69, 'USC00519397', '2010-03-28 00:00:00.000000', 0.0, 73),
 (70, 'USC00519397', '2010-03-29 00:00:00.000000', 0.0, 74),
 (71, 'USC00519397', '2010-03-30 00:00:00.000000', 0.0, 73),
 (72, 'USC00519397', '2010-03-31 00:00:00.000000', 0.0, 73),
 (73, 'USC00519397', '2010-04-01 00:00:00.000000', 0.0, 74),
 (74, 'USC00519397', '2010-04-02 00:00:00.000000', 0.01, 74),
 (75, 'USC00519397', '2010-04-03 00:00:00.000000', 0.17, 74),
 (76, 'USC00519397', '2010-04-04 00:00:00.000000', 0.15, 71),
 (77, 'USC00519397', '2010-04-05 00:00:00.000000', 0.27, 72),
 (78, 'USC00519397', '2010-04-06 00:00:00.000000', 0.01, 75),
 (79, 'USC00519397', '2010-04-08 00:00:00.000000', 0.0, 75),
 (80, 'USC00519397', '2010-04-09 00:00:00.000000', 0.01, 75),
 (81, 'USC00519397', '2010-04-10 00:00:00.000000', 0.0, 75),
 (82, 'USC00519397', '2010-04-11 00:00:00.000000', 0.01, 73),
 (83, 'USC00519397', '2010-04-12 00:00:00.000000', 0.01, 73),
 (84, 'USC00519397', '2010-04-13 00:00:00.000000', 0.0, 71),
 (85, 'USC00519397', '2010-04-15 00:00:00.000000', 0.0, 71),
 (86, 'USC00519397', '2010-04-16 00:00:00.000000', 0.01, 68),
 (87, 'USC00519397', '2010-04-17 00:00:00.000000', 0.0, 70),
 (88, 'USC00519397', '2010-04-18 00:00:00.000000', 0.0, 71),
 (89, 'USC00519397', '2010-04-19 00:00:00.000000', 0.0, 74),
 (90, 'USC00519397', '2010-04-20 00:00:00.000000', 0.04, 71),
 (91, 'USC00519397', '2010-04-21 00:00:00.000000', 0.01, 75),
 (92, 'USC00519397', '2010-04-22 00:00:00.000000', 0.0, 76),
 (93, 'USC00519397', '2010-04-23 00:00:00.000000', 0.02, 75),
 (94, 'USC00519397', '2010-04-24 00:00:00.000000', 0.0, 75),
 (95, 'USC00519397', '2010-04-25 00:00:00.000000', 0.0, 76),
 (96, 'USC00519397', '2010-04-26 00:00:00.000000', 0.0, 76),
 (97, 'USC00519397', '2010-04-28 00:00:00.000000', 0.0, 76),
 (98, 'USC00519397', '2010-04-30 00:00:00.000000', 0.0, 77),
 (99, 'USC00519397', '2010-05-01 00:00:00.000000', 0.0, 77),
 (100, 'USC00519397', '2010-05-02 00:00:00.000000', 0.03, 73)]

In [20]:
conn.close()